.DS_Store
*~
1-semantic-markup.html
2-selectors.html
3-floats.html
4-layout-JuanMa.html
4-layout.html
images/Resources.png
images/Support.png
images/bg_home.png
images/chatwithus.png
images/emailus.png
images/resources/
images/search-bigger.png
images/taza-cafe-canela-pan.jpg
media-querys-transitions.html
styles/5-landing-0.css
styles/5-landing-1.css
